# used in GH Actions `.github/workflows/helm-tests.yml.jobs.unit-tests`
testing: false
ingress:
  enabled: true
  className: "nginx"
db:
  enabled: true
  settings:
    resources:
      requests:
        storage: "100Mi"
        cpu: "256m"
        memory: "1024Mi"
      limits:
        cpu: "512m"
        memory: "1024Mi"
raster:
  enabled: true
  settings:
    resources:
      limits:
        cpu: "512m"
        memory: "4096Mi"
      requests:
        cpu: "256m"
        memory: "1024Mi"
stac:
  enabled: true
  settings:
    resources:
      limits:
        cpu: "256m"
        memory: "1024Mi"
      requests:
        cpu: "256m"
        memory: "1024Mi"
vector:
  enabled: true
  settings:
    resources:
      limits:
        cpu: "256m"
        memory: "768Mi"
      requests:
        cpu: "256m"
        memory: "768Mi"
