{{- if and .Values.ingress.enabled (eq .Values.ingress.className "traefik") }}
{{- $services := list
  (dict "key" "stac" "usesAuthProxy" true)
  (dict "key" "raster")
  (dict "key" "vector")
  (dict "key" "multidim")
  (dict "key" "browser" "defaultPath" "/browser")
  (dict "key" "mockOidcServer")
-}}
{{- $prefixes := list -}}

{{- range $services }}
  {{- $service := index $.Values .key }}
  {{- if and $service $service.enabled (or (not $service.ingress) $service.ingress.enabled) }}
    {{- $stripPath := true }}
    {{- if and .usesAuthProxy (index $.Values "stac-auth-proxy" "enabled") }}
      {{- $stripPath = false }}
    {{- end }}
    {{- if $stripPath }}
      {{- $path := $service.ingress.path | default .defaultPath }}
      {{- if $path }}
        {{- $prefixes = append $prefixes $path }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- if $prefixes }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Release.Name }}-strip-prefix-middleware
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-ingress
spec:
  stripPrefix:
    prefixes:
      {{- range $prefixes }}
      - {{ . }}
      {{- end }}
{{- end }}
{{- end }}
