{{- if and .Values.ingress.enabled (eq .Values.ingress.className "traefik") }}
{{- $services := list
  (dict "name" "stac" "config" .Values.stac "stripPath" (not (index .Values "stac-auth-proxy" "enabled")))
  (dict "name" "raster" "config" .Values.raster "stripPath" true)
  (dict "name" "vector" "config" .Values.vector "stripPath" true)
  (dict "name" "multidim" "config" .Values.multidim "stripPath" true)
  (dict "name" "mockOidcServer" "config" .Values.mockOidcServer "stripPath" true)
  (dict "name" "browser" "config" .Values.browser "stripPath" true "defaultPath" "/browser")
-}}
{{- $prefixes := list -}}
{{- range $services }}
  {{- if and .config.enabled (or (not (hasKey .config "ingress")) .config.ingress.enabled) .stripPath }}
    {{- $path := .config.ingress.path | default .defaultPath }}
    {{- $prefixes = append $prefixes $path }}
  {{- end }}
{{- end }}
{{- if $prefixes }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Release.Name }}-strip-prefix-middleware
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-ingress
spec:
  stripPrefix:
    prefixes:
      {{- range $prefixes }}
      - {{ . }}
      {{- end }}
{{- end }}
{{- end }}
