---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgstac
  labels:
    app: pgstac
spec:
  selector:
    matchLabels:
      app: pgstac
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: pgstac
    spec:
      restartPolicy: Always
      containers:
        - name: pgstac
          image: {{ .Values.db.image.name }}:{{ .Values.db.image.tag }}
          args:
            {{- toYaml .Values.db.command | nindent 12 }}
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - DSN="postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@localhost/$POSTGRES_DB" pypgstac pgready --dsn $DSN
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 15
            successThreshold: 1
          envFrom:
          - secretRef:
              name: pgstac-secrets
          ports:
            - containerPort: 5432
          {{- if not (eq .Values.providerContext "minikube") }}
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: pgstac-claim
          {{ end }}
        {{- if .Values.db.enable_data_fixtures }}
        - name: loader
          image: {{ .Values.db.image.name }}:{{ .Values.db.image.tag }}
          command:
            - "sh"
          args:
            - "/opt/initdb/load.sh"
          envFrom:
            - secretRef:
                name: pgstac-secrets
          ports:
            - containerPort: 6543
          volumeMounts:
            {{- if not (eq .Values.providerContext "minikube") }}
            - mountPath: /var/lib/postgresql/data
              name: pgstac-claim
            {{ end }}
            - mountPath: /opt/initdb/sql-data
              name: initdb-sql-volume
            - mountPath: /opt/initdb/json-data
              name: initdb-json-volume
            - mountPath: /opt/initdb/
              name: initdb-sh-volume
        {{- end }}
      volumes:
        {{- if not (eq .Values.providerContext "minikube") }}
        - name: pgstac-claim
          persistentVolumeClaim:
            claimName: pgstac-claim
        {{- end }}
        - name: initdb-sql-volume
          configMap:
            name: initdb-sql-config
        - name: initdb-json-volume
          configMap:
            name: initdb-json-config
        - name: initdb-sh-volume
          configMap:
            name: initdb-sh-config
