{{- if .Values.db.enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "eoapi.pgstacTempDbHostName" . | nindent 8 }}
  labels:
    app: {{ include "eoapi.pgstacTempDbHostName" . | nindent 10 }}
spec:
  selector:
    matchLabels:
      app: {{ include "eoapi.pgstacTempDbHostName" . | nindent 12 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ include "eoapi.pgstacTempDbHostName" . | nindent 14 }}
    spec:
      restartPolicy: Always
      containers:
        - name: pgstac
          image: {{ .Values.db.image.name }}:{{ .Values.db.image.tag }}
          args:
            {{- toYaml .Values.db.command | nindent 12 }}
          envFrom:
          - secretRef:
              name: pgstac-secrets-{{ $.Release.Name }}
          ports:
            - containerPort: 5432
          resources:
            limits:
              cpu: {{ .Values.db.settings.resources.limits.cpu }}
              memory: {{ .Values.db.settings.resources.limits.memory }}
            requests:
              cpu: {{ .Values.db.settings.resources.requests.cpu }}
              memory: {{ .Values.db.settings.resources.requests.memory }}
          volumeMounts:
            - mountPath: /data
              name: pgstac-claim-{{ $.Release.Name }}
        {{- if .Values.db.enable_data_fixtures }}
        - name: loader
          image: {{ .Values.db.image.name }}:{{ .Values.db.image.tag }}
          command:
            - "sh"
          args:
            - "/opt/initdb/load.sh"
          envFrom:
            - secretRef:
                name: pgstac-secrets-{{ $.Release.Name }}
          ports:
            - containerPort: 6543
          volumeMounts:
            - mountPath: /data
              name: pgstac-claim-{{ $.Release.Name }}
            - mountPath: /opt/initdb/sql-data
              name: initdb-sql-volume-{{ $.Release.Name }}
            - mountPath: /opt/initdb/json-data
              name: initdb-json-volume-{{ $.Release.Name }}
            - mountPath: /opt/initdb/
              name: initdb-sh-volume-{{ $.Release.Name }}
        {{- end }}
      volumes:
        - name: pgstac-claim-{{ $.Release.Name }}
          persistentVolumeClaim:
            claimName: pgstac-claim-{{ $.Release.Name }}
        - name: initdb-sql-volume-{{ $.Release.Name }}
          configMap:
            name: initdb-sql-config-{{ $.Release.Name }}
        - name: initdb-json-volume-{{ $.Release.Name }}
          configMap:
            name: initdb-json-config-{{ $.Release.Name }}
        - name: initdb-sh-volume-{{ $.Release.Name }}
          configMap:
            name: initdb-sh-config-{{ $.Release.Name }}
{{- end }}