{{- if (eq .Values.db.environment "k8s") }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ include "eoapi.pgstacHostName" . | nindent 10 }}
  name: {{ include "eoapi.pgstacHostName" . | nindent 8 }}
spec:
  ports:
  - name: "5432"
    port: 5432
    targetPort: 5432
  selector:
    app: {{ include "eoapi.pgstacHostName" . | nindent 10 }}
{{- end }}
