name: release helm chart

on:
  release:
    types:
      - published

env:
  HELM_VERSION: v3.15.2

jobs:
  release:
    if: ${{ !startsWith(github.ref, 'refs/tags/eoapi-') }}  # prevent the helm chart releaser from running this release workflow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: configure git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - uses: azure/setup-helm@v4
        with:
          version: ${{ env.HELM_VERSION }}

      - name: add helm repos
        run: |
          helm repo add eoapi https://devseed.com/eoapi-k8s/
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo list

      - name: run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
          CR_INDEX_PATH: "."
