name: release helm chart

#on:
#  release:
#    types:
#      - published

on:
  push:
    branches:
      - main

env:
  HELM_VERSION: v3.15.2

jobs:
  release:
    if: github.actor == 'ranchodeluxe' || github.actor == 'gcorradini' || github.actor == 'sunu' || github.actor == 'ividito'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: configure git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - uses: azure/setup-helm@v4
        with:
          version: ${{ env.HELM_VERSION }}
          #token: ${{ secrets.GITHUB_TOKEN }}

#      - name: update gh-pages with content from main
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: |
#          git checkout main
#          git pull origin main
#          git checkout gh-pages
#          git pull origin gh-pages
#          git merge -X theirs main

      - name: add helm repos
        run: |
          helm repo add eoapi https://devseed.com/eoapi-k8s/
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo add grafana https://grafana.github.io/helm-charts
          helm repo list

      - name: run chart-releaser
        uses: helm/chart-releaser-action@v1.4.0
        with:
          charts_dir: helm-chart
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true

#      - name: helm release packages
#        env:
#          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: |
#          # update `values.yaml` with a gitSha
#          chart="helm-chart/eoapi"
#          COMMITSHA=$(git rev-parse HEAD | cut -c1-10)
#          sed -i "s|gitSha: \"[a-zA-Z0-9]+\"|gitSha: \"$COMMITSHA\"|g" "$chart"/values.yaml
#
#          # package recent chart
#          helm package $chart --destination .
#
#          # create the index file
#          helm repo index .
#
#          git add -A
#          chart_version=$(cat $chart/Chart.yaml| grep version: | cut -d' ' -f2)
#          git commit -m $chart_version
#          git push origin gh-pages




